span#channels-tab-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

span#channels-tab-child > button {
    background-color: transparent;
    border: none;
    color: white;
}

#channels-tab-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.channel-tab {
    margin-left: 15px;
}
