span#channels-tab-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

span#channels-tab-child > button {
    background-color: transparent;
    border: none;
    color: white;
}
