.main-head {
  display: flex;
  align-items: center;
  color: white;
  justify-content: flex-start;
  margin-left: 40px;
}

.workspaces-container {
  background-color: #4a154b;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  gap: 50px;
}

.team {
  display: flex;
  align-items: center;
}

.workspaces {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60vw;
}

.workspace-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  background-color: white;
  border: 4px solid rgba(112, 90, 112, 0.9);
  border-radius: 15px;
  margin-bottom: 30px;
  font-family: "Open Sans";
  width: 100%;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  width: 75%;
}

.create-btn {
  background-color: white;
  border: 0px;
  border-radius: 5px;
  height: 40px;
  font-family: "Open Sans";
  color: #4a154b;
  padding: 15px;
  display: flex;
  align-items: center;
  transition-duration: 0.2s;
}

.main-logo {
  font-size: 30px;
  font-family: "Open Sans";
  font-weight: bold;
  color: white;
}

.main-user {
  display: flex;
  align-items: center;
  background-color: #d6bbd7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 30px;
  font-family: "Open Sans";
  padding: 10px;
  transition-duration: 0.5s;
}

.create-btn:hover {
  cursor: pointer;
  border: 2px solid #350f35;
  transform: scale(1.1);
}

.launch-workspace {
  background-color: #4a154b;
  border: 0;
  border-radius: 5px;
  height: 40px;
  margin: 15px;
  font-family: "Open Sans";
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  transition-duration: 0.5s;
}

.launch-workspace:hover {
  cursor: pointer;
  background-color: #350f35;
  transform: scale(1.1);
}

.main-edit-btn {
  background-color: #4a154b;
  border: 0;
  border-radius: 5px;
  height: 40px;
  margin: 10px;
  font-family: "Open Sans";
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
}

.main-edit-btn {
  cursor: pointer;
}

.main-delete-btn {
  background-color: #4a154b;
  border: 0;
  border-radius: 5px;
  height: 40px;
  margin: 10px;
  font-family: "Open Sans";
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  transition-duration: 0.5s;
}

.main-delete-btn:hover {
  cursor: pointer;
}

.main-buttons {
  display: flex;
  opacity: 0;
  height: 10px;
  transition-duration: 1s;
}

.main-buttons:hover {
  display: flex;
  opacity: 1;
  height: 100px;
  align-items: center;
}

.show {
  display: flex;
}

.workspace-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workspace-content {
  border-bottom: 1px solid lightgray;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.workspace-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.workspace-info > h2 {
  margin-bottom: 0;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: bolder;
}

.workspace-info > p {
  margin-top: 0;
  font-weight: lighter;
  font-family: "Open Sans";
  font-size: 12px;
  color: charcoal;
}

.main-edit-field {
  border: 1px solid #d6bbd7;
  border-radius: 5px;
  height: 5px;
  margin: 10px;
  font-family: "Open Sans";
  padding: 15px;
  display: flex;
  align-items: center;
}

.main-save-btn {
  background-color: #4a154b;
  border: 0;
  border-radius: 5px;
  height: 40px;
  margin: 10px;
  font-family: "Open Sans";
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  transition-duration: 0.5s;
}

.main-save-btn:hover {
  cursor: pointer;
}

.main-cancel-btn {
  background-color: #4a154b;
  border: 0;
  border-radius: 5px;
  height: 40px;
  margin: 10px;
  font-family: "Open Sans";
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  transition-duration: 0.5s;
}

.main-cancel-btn:hover {
  cursor: pointer;
}

.edit-btns {
  display: flex;
  flex-direction: row;
}

.create-wmn-ws {
  background-color: white;
  height: 100px;
  width: 60vw;
  border-radius: 15px;
  border: 4px solid rgba(112, 90, 112, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wmn-ws-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.create-wmn-ws > img {
  height: 133.7px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 0.5px;
  margin-top: 33px;
  margin-right: 10px;
}

.create-wmn-btn {
  background-color: white;
  border: 2px solid #350f35;
  border-radius: 5px;
  margin-right: 15px;
  padding: 5px;
  font-family: "Open Sans";
  transition-duration: 0.5s;
}

.create-wmn-btn:hover {
  cursor: pointer;
  border: 3px solid #350f35;
  transform: scale(1.1);
}

.not-seeing-ws {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Open Sans";
  width: 100%;
  margin-top: 10px;
  height: 100px;
}

.diff-email-btn {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  color: cornflowerblue;
  transition-duration: 0.5s;
}

.diff-email-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.view-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view-more > p {
  font-size: 8px;
  margin-bottom: 5px;
}
