@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.nav-bar {
  font-family: 'Open Sans';
  background-color: #350d36;
  display: flex;
  height: 40px;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar ul {
  list-style: none;
  display:flex;
  align-items: center;
}

.nav-bar li {
  float:left;
}

.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.nav-bar a:visited {
  color: white;
  text-decoration: none;
}

.nav-profile {
  margin-right: 15px;
}

.nav-profile img{
  height: 25px;
  border-radius: 5px;
}

.user-menu {
  background-color: white;
  position: fixed;
  top: 38px;
  right: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 2px gray;
}

.user-info {
  display:flex;
  align-items: center;
}

.user-status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5px;
  margin: 1px;
}

.user-status h6 {
  margin-bottom: 0;
}

.user-status p {
  color: gray;
  font-size: 8px;
  margin-top: 0;
}
