#members-main {
  width: 100%;
}

span#members-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.title_drop_down {
  display: flex;
  flex-direction: row;
}
.dots {
  background-color: transparent;
  border: none;
  color: white;
}
span#members-tab > button {
  background-color: transparent;
  border: none;
  color: white;
}

#add-members-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4a154b;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 50px;
}

#add-members-modal > form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#add-members-modal > form > input {
  border: none;
  outline: none;
  background-color: rgb(228, 228, 228);
  padding:  5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.add-member {
  background-color: #4a154b;
  border: 0;
  border-radius: 5px;
  height: 40px;
  margin: 10px 0px;
  color: white;
  padding: 10px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

#members-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

#members-list > p {
  margin: 0;
}

.add-ws-members-btn {
  opacity: 0.2;
}

#query-results {
  max-height: 200px;
  overflow-y: scroll;
}

.results-map {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.results-map:hover {
  background-color: #1263a3;
  color: white;
}

.results-map > img {
  width: 20px;
  border-radius: 5px;
  margin-right: 10px;
}