span#members-tab {
    display: flex;
    justify-content: center;
    align-items: center;
}

span#members-tab>button {
    background-color: transparent;
    border: none;
    color: white;
}

#add-members-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4a154b;
    background-color: white;
    width: 100%;
    padding: 50px;
}

.add-member {
    background-color: #4a154b;
    border: 0;
    border-radius: 5px;
    height: 40px;
    margin:10px 0px;
    font-family: 'Open Sans';
    color:white;
    padding: 10px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
  }

  .add-member:hover {
    cursor: pointer;
  }

.results-map:hover {
    cursor: pointer;
}

#members-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

#members-list > p {
    margin: 0;
}
