/* TODO Add site wide styles */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

body {
  margin: 0;
  font-family: "Open Sans";
  overflow-y: scroll;
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}
