div#left-sb-main {
    color: #CFC3CF;
    background-color: #3F0E40;
    padding-left: 15px;
    min-height: 100vh;
}

div#members-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
}
