span#dm-rooms-list-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dm-rooms-list-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.single_dm_room {
  display: flex;
  flex-direction: row;
  margin-left: 8px;
}
.single_dm_room_child {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 12px;
  width: auto;
  margin-left: 5px;
}

.dm-rooms-names {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 180px;
}


.single_dm_room_child:hover {
  cursor: pointer;
  background-color: #130513;
  justify-content: flex-start;
}

span#dm-rooms-list-child > button {
    background-color: transparent;
    border: none;
    color: white;
}

.add-dm-room > button {
  background-color: transparent;
  border: 0;
  color: rgba(109, 89, 89, 0.5);
}

.dm-room-members {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  position: fixed;
  top: 60px;
  font-weight: bold;
}
