span#dm-rooms-list-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.single_dm_room {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}
.single_dm_room_child {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

.single_dm_room_child:hover {
  cursor: pointer;
}

span#dm-rooms-list-child > button {
    background-color: transparent;
    border: none;
    color: white;
}
