@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.sign-in-btn {
    background-color: rgb(74, 21, 75);
    color: white;
    height: 50px;
    border-radius: 5px;
    margin-top: 5px;
    border: 0;
    width: 405px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
}

.sign-in-btn:hover {
    cursor: pointer;
    background-color: rgb(114, 32, 116);
}

.log-in-form-container {
    font-family: 'Open Sans';
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.login-sgnup {
    color: rgb(65, 199, 253);
}

.log-in-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log-in-form input {
    width: 400px;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.log-in-form input:focus {
    box-shadow: inset 0 0 10px lightskyblue;
}

.log-in-form-container > h4 {
    margin-top: 0;
}

.log-in-form-container > h1 {
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 700;
}

.demo-btn {
    background-color: white;
    border: none;
    font-family: 'Open Sans';
    color: rgb(65, 199, 253);
    font-size: 15px;
}

.demo-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}
