@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.sign-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans';
    font-weight: 700;
    margin-top: 100px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-form input {
    width: 400px;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.sign-up-form input:focus {
    box-shadow: inset 0 0 10px lightskyblue;
}

.sign-up-btn {
    background-color: rgb(74, 21, 75);
    color: white;
    height: 50px;
    border-radius: 5px;
    margin-top: 5px;
    border: 0;
    width: 405px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
}

.sign-up-btn:hover {
    cursor: pointer;
    background-color: rgb(114, 32, 116);
}

.sign-up-container > h4 {
    margin-top: 0;
}

.sign-up-container > h1 {
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 700;
}
