.channel-name-modal {
  display: flex;
  font-size: 10px;
  position: fixed;
  top: 45px;
  justify-content: space-between;

}

.channel-name-modal:hover {
  cursor: pointer;
}

.channel-modal-container {
  display: flex;
  flex-direction: column;
  color: #4a154b;
  background-color: white;
  width: 100%;
  padding: 50px;
}

.channel-name-tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.channel-name-tag > p {
  color: gray;
  font-size: 12px;
  margin-left: 15px;
}

.channelname {
  padding-right: 10px;
}

.title-container .subcontainer {
  display:flex;
  align-content: space-between;
}

.edit-btn {
  color: blue;
  font-size: small;
  text-decoration: underline;
  display: flex;
  justify-content:flex-end;
  margin-right: 10px;
  top: 0;
}

.edit-btn:hover {
  cursor: pointer;
}

.text {
  display: flex;
  justify-content: flex-start;
  padding-top: 7px;
}

.delete-btn {
  width:fit-content;
  margin-top: 15px;
  margin-bottom: 15px;
}

.add-member-btn {
  margin-left: 10px;
}

.style-btn {
  background-color: #4a154b;
  border: 0;
  border-radius: 5px;
  height: 40px;
  margin:10px 0px;
  color:white;
  padding: 10px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

.smallstyle-btn {
  background-color: #4a154b;
  border: 0;
  border-radius: 5px;
  height: 10px;
  margin:10px 0px;
  color:white;
  padding: 10px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  text-decoration: none;
}

#icon {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.title {
  font-weight: bold;
}

.space {
  padding-top: 12px;
  padding-bottom: 12px;
}

.input {
  margin-top: 15px;
  padding-left: 0px;
}
